<div class="result">
  <div class="back" (click)="onStartAgain()">
    <i class="ion-icon ion-ios-arrow-thin-left"></i>
    <span>Back</span>
  </div>
  <div class="container">
    <div class="heading">
      <span>Result</span>
    </div>
    <h1 class="title" *ngIf="!bid || hasClosest">You should bid...</h1>
    <div class="bid">
      <div class="bid-container">

        <div *ngIf="!bid" >
          <h1>{{currency.CurrencySymbol}}{{valuePerClick}}</h1>
        </div>

        <div *ngIf="bid && !closest.is_current && hasClosest" class="closest">
          <h1>{{closest.currency_symbol}}{{closest.max_cpc_stripped}}</h1>
          <hr />
          <p>This is the best bid given the bid <br />simulator's estimates.</p>
        </div>

        <div *ngIf="bid && closest.is_current && hasClosest" class="closest current">
          <h1>Keep your current bid</h1>
          <hr />
          <p>The current bid you're using is adequate,<br /> no need to change anything.</p>
        </div>

        <div class="no-closest warning" *ngIf="bid && !hasClosest">
          <i class="ion-icon ion-nuclear"></i>
          <h1>ADWORDS NOT A GOOD OPTION YET</h1>
          <hr />
          <p>Your conversion rate and Max. CPA are currently too low to make AdWords profitable.
          Try again with a higher Max. Profitable CPA or conversion rate to figure out the needed performance to make Adwords viable for you.</p>
        </div>

      </div>
      <hr *ngIf="!bid" />
      <div class="table-container" *ngIf="showBidDetails">
        <div class="value-per-click">
          <div class="content">
            <label>Value Per Click</label>
            <span>{{valuePerClick}}</span>
          </div>
        </div>
        <div class="table">
          <div class="columns">
            <div class="column col-6">
              <span title="Estimated Bids"><span class="estimated">Potential</span>Bid (Max. CPC)</span>
            </div>
            <div class="column col-6">
              <span title="Estimated Clicks"><span class="estimated">Estimated</span> Clicks</span>
            </div>
            <div class="column col-6">
              <span title="Estimated Clicks"><span class="estimated">Estimated</span> Revenue</span>
            </div>
            <div class="column col-12">
              <span title="Estimated Costs"><span class="estimated">Estimated</span> Cost</span>
            </div>
            <div class="column col-12">
              <span title="Estimated Costs"><span class="estimated">Estimated</span> Profit</span>
            </div>
          </div>
          <div class="row {{item.closest ? 'closest' : ''}}" *ngFor="let item of calibrateData">
            <div class="cell col-6">
              <span>{{item.max_cpc}}</span>
            </div>
            <div class="cell col-6">
              <span>{{item.estimated_clicks}}</span>
            </div>
            <div class="cell col-6">
              <span>{{item.currency_symbol}}{{item.revenue_formatted}}</span>
            </div>
            <div class="cell col-12">
              <span>{{item.estimated_costs}}</span>
            </div>
            <div class="cell col-12">
              <span>{{item.currency_symbol}}{{item.profit_formatted}}</span>
            </div>
          </div>
        </div>
        <div class="chart-container">
          <h2>Estimated Profit At Each Bid</h2>
          <div chart
              [options]="chartOptions">
          </div>
        </div>
      </div>
    </div>

    <!-- Bid optimizer result -->
    <div class="details-container bid-yes"
         *ngIf="bid">

      <div class="button-group">
        <div class="button try-tenscores" (click)="onTryTenScores()">
          <span class="top">Next: Get cheaper AdWords clicks</span>
          <span class="bottom">with Tenscores</span>
        </div>
      </div>
    </div>

    <!-- Non-bid optimizer result -->
    <div class="details-container bid-no"
         *ngIf="!bid">
      <div class="details">
        <p>This is your "Value Per Click", an estimate of what you can expect to earn from each click. Bidding anything above it will make you lose money, anything below migh not get you optimum exposure.</p>
      </div>
      <div class="button-group">
        <div class="button try-tenscores" (click)="onTryTenScores()">
          <span class="top">Next: Get cheaper AdWords clicks</span>
          <span class="bottom">with Tenscores</span>
        </div>
      </div>
    </div>
  </div>
  <div float-info
       [conversionRate]="conversionRate"
       [currency]="currency"
       [maxCPA]="maxCPA"
       (onConversionRateUpdate)="updateConversionRate($event)"
       (onMaxCPAUpdate)="updateMaxCPA($event)">
  </div>
  <div class="copyright hide">
    <span>Made with <i class="ion-icon ion-heart"></i>
      by <a href="http://www.tenscores.com" target="_blank">TENSCORES</a>
    </span>
  </div>
</div>
