@mixin breakpoint($target) {
  @media screen and (max-width: $target) {
      @content;
  }
}

.float-info {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: fixed;
  bottom: initial;
  top: 35px;
  right: 20px;
  padding: 0 17px;
  @include breakpoint(420px) {
    background-color: rgba(255,255,255,0.95);
  }

  .info {
    margin: 10px 0;
    padding-right: 70px;
    position: relative;
    box-sizing: border-box;

    label {
      color: white;
      font-size: 12px;
      width: 80px;
      display: inline-block;
      text-align: left;
    }

    .value {
      color: white;
      font-size: 12px;
      display: inline-block;
    }

    .field {
      margin-top: 0px;
      text-align: left;
    }

    .change {
      color: white;
      display: inline-block;
      margin-left: 10px;
      font-size: 10px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      right: 0;
      transition: color 0.1s ease;
      -moz-transition: color 0.1s ease;
      -webkit-transition: color 0.1s ease;

      span {
        display: inline-block;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        transition: color 0.1s ease;
        -moz-transition: color 0.1s ease;
        -webkit-transition: color 0.1s ease;
      }

      &:hover {
        color: #e26a61;

        span {
          color: #e26a61;
        }
      }
    }

    &.conversion-rate {

      .value {
        color: white;
      }
    }
  }

  input {
    box-sizing: border-box;
    padding: 2px 5px;
    width: 70px;
    border-radius: 2px;
    border: 1px solid #ebebeb;
  }

  &.fixed {
    position: fixed;
  }
}
