result {
  position: relative;
  z-index: 2;
}

.result {
  margin: 0 auto;
  padding: 70px 0 50px;
  max-width: 720px;
  width: 95%;

  .container {
    position: relative;
    border-radius: 4px;
    padding: 10px 30px 70px;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    @include breakpoint(520px) {
      padding: 10px;
    }

    .heading {
      background-color: #444444;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      width: 60px;
      text-align: center;
      padding: 8px 14px;
      border-radius: 4px;
      margin: auto;

      span {
        color: white;
        text-transform: uppercase;
      }
    }
  }


  .title,
  .details,
  .button,
  .copyright {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  .title {
    color: white;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
  }

  .details {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    a {
      color: #B0BEC5;
      border-bottom: 2px dotted #B0BEC5;
      text-decoration: none;
      padding-bottom: 3px;
    }
  }

  .table-container {
    background-color: #1bbc9b;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    border-radius: 3px;
    padding: 20px;
    background: #1abc9c;
    color: white;

    @include breakpoint(400px) {
      overflow: auto;
    }

    .value-per-click {
      margin: 0 0 20px 0;

      .content {
        display: inline-block;
        text-align: left;
        width: auto;
        border-radius: 3px;
        padding: 10px;
        background: #16a085;
      }

      label {
        font-size: 12px;
        text-transform: uppercase;
        color: #C8E6C9;
      }

      span {
        font-size: 13px;
        margin-left: 8px;
        color: white;
      }
    }

    .columns {

      .column {
        border-bottom: 1px solid #fff;

        span {
          color: white;
        }
        span.estimated {
          display:block;
          font-size: 9px;
          color: #C8E6C9;
        }

      }
    }

    .row {

      .cell {

        span {
          color: white;
        }
      }

      &:nth-child(even) {
        background-color: #16a086;
      }

      &.closest {
        background-color: #a6f3a6;

        span {
          color: green;
          font-weight: bold;
        }
      }
    }
  }

  .chart-container {
    margin-top: 60px;
    min-width: 400px;

    .c3-line {
      stroke-width: 3px;
      stroke: white !important;
    }

    .c3-path {
      stroke: white;
    }

    .c3-shape.c3-circle {
      fill: #00c29d !important;
      r: 5px;
      stroke: white;
      stroke-width: 3px;
    }

    tspan {
      fill: white;
    }

    .c3 path,
    .c3 line {
      stroke: white;
    }

    .c3-axis-x-label {
      fill: white;
    }

    .c3-tooltip {

      td {
        color: black;
      }
    }

    h2 {
      text-align: center;
      color: #C8E6C9;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .bid {
    margin: 35px 0;

    h1 {
      color: white;
      text-shadow: 0px 0px 20px white, 0px 0px 30px white;
      text-align: center;
      font-size: 100px;
      @include breakpoint(400px) {
        margin: 10px 0;
      }

      &.closest {
        margin-bottom: 0;
      }

      &.current {
        font-size: 38px;
        margin-top: 0;
      }
    }

    .no-closest {
      h1, .ion-icon {
        font-size: 50px;
        text-shadow: none;
        color: white;
      }
      h1 { margin: 20px 0;}
      font-size: 18px;
      background:#d84f4f;
      padding: 20px;
      p {
        color: white;
        font-size: 16px;
      }
    }

    hr {
      width: 100px;
      border: none;
      border-top: 3px solid white;
      box-shadow: 0px 0px 20px white;
    }
  }

  .button-group {
    text-align: center;
    color: white;
    margin-top: 30px;

    .button {
      display: inline-block;
      margin: 0 5px;
      border-radius: 4px;
      text-align: center;
      @include breakpoint(520px) {
        display: block;
        width: 95%;
        margin: 10px auto;
      }

      span {
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
      }

      &.try-tenscores {
        background-color: #e26a61;
        padding: 20px;
        width: 100%;
        height: 80px;

        span {
          color: white;
          display: block;
        }

        span.top {
          font-size: 18px;
          color: white;
        }
        span.bottom {
          font-size: 14px;
          color: #ffcdd2;
          margin-top:7px;
        }

        &:active {
          border: 2px solid #7a7a80;
          background-color: #7a7a80;

          span {
            color: white;
          }
        }
      }

      &.learn-more {

        &:hover {

          span,
          p {
            color: white;
          }
        }

        &:active {

          span {
            color: #7a7a80;
          }
        }
      }
    }
  }

  .bid-container {
    text-align: center;
    p {
      text-align: center;
      color: white;
      font-size: 18px;
      margin: 10px auto 50px auto;
    }
    hr {
      margin: 40px auto 40px auto;
    }
  }

  .see-details {
    color: #7c7a7a;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;

    p {
      display: inline-block;
      color: #00a3d7;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      margin: 0 5px;
      transition: color 0.1s ease;
      -moz-transition: color 0.1s ease;
      -webkit-transition: color 0.1s ease;
    }

    &:hover {
      color: #e26a61;

      p {
        color: #e26a61;
      }
    }
  }
}
