<div class="float-info {{showBidDetails ? 'float-fixed' : ''}}">
  <div class="info conversion-rate">
    <div class="field" *ngIf="!showConversionRateInput">
      <label class="label">CONV. RATE</label>
      <span class="value">{{conversionRate}}%</span>
      <div class="change" (click)="triggerInputConversionRate()">
        <span>Edit</span>
      </div>
    </div>
    <div class="field" *ngIf="showConversionRateInput">
      <label class="label">CONV. RATE</label>
      <input type="number"
             step="any"
             min="0"
             [(ngModel)]="conversionRate"
             (keyup)="onConversionInputKeyUp($event)"/>
      <div class="change" (click)="updateConversionRate()">
        <span>Save</span>
      </div>
    </div>
  </div>
  <div class="info max-cpa">
    <div class="field" *ngIf="!showMaxCPAInput">
      <label class="label">MAX. CPA</label>
      <span class="value">{{currency.CurrencySymbol}}{{maxCPA}}</span>
      <div class="change" (click)="triggerInputMaxCPA()">
        <span>Edit</span>
      </div>
    </div>
    <div class="field" *ngIf="showMaxCPAInput">
      <label class="label">MAX. CPA</label>
      <input type="number"
             step="any"
             min="0"
             [(ngModel)]="maxCPA"
             (keyup)="onMaxCPAInputKeyUp($event)"/>
      <div class="change" (click)="updateMaxCPA()">
        <span>Save</span>
      </div>
    </div>
  </div>
</div>
