<div class="conversion">
  <div class="back" (click)="onGoBack()">
    <i class="ion-icon ion-ios-arrow-thin-left"></i>
    <span>Back</span>
  </div>
  <div class="icon bar-icon">
    <span>1</span>
  </div>
  <p class="details">What's your website or landing page conversion rate?</p>
  <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="field">
      <input type="number"
             min="0"
             step="any"
             name="conversion-rate"
             required
             [(ngModel)]="conversionRate"
             (focus)="onConversionInputFocus($event)"
             (focusout)="onConversionInputBlur($event)"/>
      <label for="conversion-rate">%</label>
    </div>
    <button type="submit" class="button submit">Next</button>
    <div class="card">
      <span>
        <a (click)="onHelpClicked()" class="help-text">Need help?</a>
      </span>
    </div>
  </form>
  <div class="copyright">
    <span>Made with <i class="ion-icon ion-heart"></i>
 by <a href="http://www.tenscores.com" target="_blank">TENSCORES</a></span>
  </div>
</div>
<overlay>
  <div conversion-help></div>
</overlay>
