<div class="conversion-help">
  <h1>Conversion Rate</h1>
  <h2>The percentage of visitors who took a desired action on your website or landing page after clicking your ads.</h2>
  <hr/>
  <p>We advertise for a clear objective. There's a specific reason why you're spending money on
    Google; you want visitors do something on your website
    that will be beneficial to your business (purchase, registration, download, etc).</p>
  <p>Until you have decided your advertising goal, it is unwise to use Google Adwords.</p>
  <p>Once you know what your advertising goal is, make sure you can measure accurately the percentage of people
    who land on your website and take the desired action. That's your conversion rate.</p>
  <p>Google has <a href="https://support.google.com/adwords/answer/1722054?hl=en" target="_blank">conversion tracking tools</a> that you can use to track your
    conversions and have them reflected in your Adwords account:</p>
  <div id="conversion-rate-screenshot"></div>
  <h3>Follow these steps:</h3>
    <ol>
      <li><strong>Use the conversion rate of the keyword in adwords if available.</strong> If not ...</li>
      <li><strong>Use the average conversion rate of the ad group in adwords if available.</strong> If not ...</li>
      <li><strong>Use the average conversion rate of the campaign in adwords if available.</strong> If not ...</li>
      <li><strong>Use the global conversion rate of your website if you know it.</strong> If not ...</li>
      <li>Use industry averages below...</li>
    </ol>
    <h3>Industry averages</h3>
    <p>These averages were collected by <a target="_blank" href="http://www.wordstream.com/blog/ws/2016/02/29/google-adwords-industry-benchmarks">Wordstream</a>,
      they show average conversion rates (CVR) for Search and Google Display Network (GDN) by industry. Use them as a last resort if you really can't evaluate a
    conversion rate for your keyword or ad group.</p>
    <div id="industry-averages"></div>
</div>
