<div class="home">
  <div class="icon bar-icon">
    <div class="logo"></div>
  </div>
  <h1 class="title">HOW MUCH TO BID ON ADWORDS</h1>
  <p class="details">Calculate the optimum bid for a Google AdWords keyword or ad group — in 3 simple steps!</p>
  <div class="button" (click)="getStarted()">
    <p>Start</p>
  </div>
  <div class="copyright">
    <span>Made with <i class="ion-icon ion-heart"></i>
      by <a href="http://www.tenscores.com" target="_blank">TENSCORES</a>
    </span>
  </div>
</div>
