<div class="overlay-container" [attr.id]="id">
  <div class="border-container">
    <div class="close" (click)="hide()">&times;</div>
    <div class="wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
