

$font: 'Roboto', Arial, Helvetica, sans-serif;

@mixin breakpoint($target) {
  @media screen and (max-width: $target) {
      @content;
  }
}

@import 'ion-icons/ionicons.scss';
@import 'flag-icons/flag-icon.scss';
@import '../../node_modules/c3/c3.min.css';
@import 'app/directives/float-info/styles/float-info.scss';
@import 'app/directives/currency-select/styles/currency-select.scss';
@import 'app/views/app/styles/app.scss';
@import 'app/views/app/styles/popup-video.scss';
@import 'app/views/bid-simulator/styles/bid-simulator.scss';
@import 'app/views/bid-simulator/styles/bid-simulator-help-1.scss';
@import 'app/views/bid-simulator/styles/bid-simulator-help-2.scss';
@import 'app/views/conversion/styles/conversion.scss';
@import 'app/views/conversion/styles/conversion-help.scss';
@import 'app/views/cpa/styles/cpa.scss';
@import 'app/views/cpa/styles/cpa-help.scss';
@import 'app/views/home/styles/home.scss';
@import 'app/views/result/styles/result.scss';
@import 'app/services/overlay/styles/overlay.scss';

/* Everywhere Else */
*:not(.fa) {
  font-family: $font;
  font-weight: 300;
}

.bar-icon {

  .logo {
    background-image: url('../img/adwords-logo.png');
    width: 100%;
    height: 100%;
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

html {
  min-height: 100vh;
  border: 10px solid white;
  background: #487BC0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43cea2 , #13A460); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(320px) {
    border: 5px solid white;
  }
}

body {
  margin: 0;
  position: relative;
}

h2, h3, h4, h5 {
  line-height: 1.3em;
  color: #999;
  font-weight: 500;
}

h3 {
  margin-top: 30px;
}

iframe {
  border: 3px solid #fff;
  border-radius: 3px;
}

.hide {
  display:none;
}

#_hj-f5b2a1eb-9b07_hotjar_branding {
  display:none;
}

.active {
  background:transparent ;
}

.back {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  padding: 0 5px 5px;
  border-bottom: 1px solid transparent;
  transition: border 0.4s ease;
  -moz-transition: border 0.4s ease;
  -webkit-transition: border 0.4s ease;

  .ion-icon {
    color: #ccc;
    margin-right: 5px;
    display: inline-block;
    font-size: 28px;
    transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
  }

  span {
    vertical-align: top;
    position: relative;
    top: 9px;
    color: #ccc;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
  }

  &:hover span, &:hover .ion-icon {
    color: white;
  }

  &:active {
    border-bottom: 1px solid #e0645f;

    .ion-icon {
      color: #e0645f;
    }

    span {
      color: #e0645f;
    }
  }
}

.copyright {
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: left;
  @include breakpoint(520px) {
    right: 0;
    left: 0;
    bottom: 5px;
    opacity: 0.5;
    text-align: center;
  }

  span {
    color: #ccc;
    text-transform: uppercase;

    a {
      color: #ccc;
      margin: 0;
      text-decoration: none;
      border-bottom: 2px dotted #ccc;

      &:hover {
        text-decoration: none;
        color: white;
        border-bottom: 2px dotted white;
      }
    }
  }
}

.loading-container {
  position: fixed;
  top: 45%;
  margin-top: -50px;
  left: 0;
  z-index: 1;
  right: 0;
  text-align: center;

  h3 {
    margin: 20px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
  }
}

.ts-loading {
  height: 100px;
  width: 150px;
  margin: auto;
  text-align: center;
  position: relative;

  div {
    position: absolute;
    bottom: 0;
    margin: 0 1px;
    background-color: #ffffff;
    border-radius: 3px;
    vertical-align: bottom;
    width: 33px;
    animation: tsLoading 0.9s ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  div:nth-child(1) {
    max-height: 40%;
    left: 10px;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }

  div:nth-child(2) {
    max-height: 70%;
    left: 50px;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }

  div:nth-child(3) {
    left: 90px;
    max-height: 100%;
  }
}

@keyframes tsLoading {
  0% {
    height: 0%;
  }

  60% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-webkit-keyframes tsLoading {
  0% {
    height: 0%;
  }

  60% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.c3 {
  margin: 40px 0;
}

.c3-tooltip-container td {
    text-align: left;
}

.button {
  width: 240px;
  height: 55px;
  border-radius: 3px;
  margin: 40px auto;
  padding: 15px 0px;
  cursor: pointer;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;

  p {
    margin: 0;
    font-size: 18px;
    color: #005A7C;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
  }

  span {
    user-select: none;
    -webkit-user-select: none;
  }

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    outline: none;
  }

  &:active {
    background: white;
    outline: none;
  }
}

.submit {
  background: white;
  font-size: 18px;
  border: none;
  height: 50px;
  margin: 0;
  border-radius: 4px;
  width: 120px;
  text-transform: uppercase;
  color: #005A7C;
  box-sizing: border-box;
  transition: background 0.1s ease, color 0.1s ease;
  -moz-transition: background 0.1s ease, color 0.1s ease;
  -webkit-transition: background 0.1s ease, color 0.1s ease;

  &:hover {
    outline: none;
  }

  &:active {
    background: white;
    outline: none;
  }
}

.bar-icon {
  padding: 13px 7px 7px;
  margin: 0 auto 30px;
  position: relative;
  text-align: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;

  span {
    font-size: 28px;
    color: white;
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: none;
    z-index: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
  }
}


.title,
.details {
  opacity: 0;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  -moz-transition: opacity 0.4s ease, transform 0.4s ease;
  -webkit-transition: opacity 0.4s ease, transform 0.4s ease;
}

.title {
  color: white;
  text-align: center;
  font-size: 32px;
}

.details {
  color: white;
  font-size: 28px;
  margin: 40px 0;
  text-align: center;
}

.help-text {
  color: white;
  margin-top: 50px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    text-shadow: 0px 0px 40px;
    text-decoration: none !important;
  }
}

.copyright {
  span {
    font-size: 12px;
  }
  .ion-heart {
    color: #D9534F;
  }
}

.hal-video {
  width: 81px;
  height: 44px;
  background: white;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff url('../img/hal-video-bg.jpg') no-repeat center center ;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card {
  max-width: 580px;
  margin: auto;
  width: 95%;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;

  span {
    color: white;
    font-size: 16px;

    a {
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        text-shadow: 0px 0px 20px white;
      }
    }
  }
}

.form {
  .field {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.table {
  display: table;
  width: 100%;
  min-width: 400px;

  .columns {
    display: table-row;

    .column {
      display: table-cell;
      width: 16.66%;
      padding: 12px 5px;

      span {
        text-transform: uppercase;
        font-size: 13px;
        color: #C8E6C9;
      }

      &.col-12 {
        width: 8.33%;
      }

      &.col-11 {
        width: 9.09%;
      }

      &.col-10 {
        width: 10%;
      }

      &.col-9 {
        width: 11.11%;
      }

      &.col-8 {
        width: 12.5%;
      }

      &.col-7 {
        width: 14.28%;
      }

      &.col-6 {
        width: 16.66%;
      }

      &.col-5 {
        width: 20%;
      }

      &.col-4 {
        width: 25%;
      }

      &.col-3 {
        width: 33.33%;
      }

      &.col-2 {
        width: 50%;
      }

      &.col-1 {
        width: 100%;
      }
    }
  }

  .row {
    display: table-row;

    .cell {
      display: table-cell;
      width: 16.66%;
      padding: 6px 5px;

      span {
        font-size: 14px;
      }

      &.col-12 {
        width: 8.33%;
      }

      &.col-11 {
        width: 9.09%;
      }

      &.col-10 {
        width: 10%;
      }

      &.col-9 {
        width: 11.11%;
      }

      &.col-8 {
        width: 12.5%;
      }

      &.col-7 {
        width: 14.28%;
      }

      &.col-6 {
        width: 16.66%;
      }

      &.col-5 {
        width: 20%;
      }

      &.col-4 {
        width: 25%;
      }

      &.col-3 {
        width: 33.33%;
      }

      &.col-2 {
        width: 50%;
      }

      &.col-1 {
        width: 100%;
      }
    }

    &:nth-child(even) {
      background: #16a085;
    }
  }
}
