conversion {
  position: relative;
  z-index: 2;
}

.conversion {
  margin: 0 auto;
  max-width: 570px;
  width: 95%;
  @include breakpoint(320px) {
    padding-top: 50px;
  }

  .bar-icon {
    z-index: 0;
  }

  .form {
    max-width: 320px;
    width: 95%;
    margin: auto;
    text-align: center;

    .field {
      display: inline-block;
      width: 120px;
      height: 50px;
      background-color: white;
      border-radius: 6px;
      margin-right: 10px;
      box-sizing: border-box;
      opacity: 0;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transition: opacity 0.4s ease, transform 0.4s ease;
      -moz-transition: opacity 0.4s ease, transform 0.4s ease;
      -webkit-transition: opacity 0.4s ease, transform 0.4s ease;

      input {
        border: none;
        width: 85px;
        height: 100%;
        padding: 0 2px 0 3px;
        font-size: 24px;
        color: #005A7C;
        box-sizing: border-box;

        &:active,
        &:focus {
          outline: none;
        }
      }

      label {
        color: #ccc;
        font-size: 26px;
      }
    }

    .submit {
      position: relative;
      top: -3px;
      color: #005A7C;
      font-size: 18px;
      letter-spacing: 1px;
      opacity: 0;
      transform: translateX(50%);
      -moz-transform: translateX(50%);
      -webkit-transform: translateX(50%);
      transition: opacity 0.4s ease, transform 0.4s ease;
      -moz-transition: opacity 0.4s ease, transform 0.4s ease;
      -webkit-transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .help-text {
      display: block;
      opacity: 0;
      cursor: pointer;
      transform: translateY(50%);
      -moz-transform: translateY(50%);
      -webkit-transform: translateY(50%);
      transition: opacity 0.4s ease, transform 0.4s ease;
      -moz-transition: opacity 0.4s ease, transform 0.4s ease;
      -webkit-transition: opacity 0.4s ease, transform 0.4s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.active {

    .bar-icon {

      span {
        transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        opacity: 1;
      }

      &:after {
        width: 48px;
        height: 48px;
        right: 0;
        top: 0;
        visibility: visible;
      }
    }

    .title,
    .details {
      opacity: 1;
      transform: translateY(0);
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
    }

    .title {
      transition-delay: 0.3s;
      -webkit-transition-delay: 0.3s;
    }

    .details {
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
    }

    .form {

      .field,
      .submit  {
        transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        opacity: 1;
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
      }

      .help-text {
        transition-delay: 1s;
        -webkit-transition-delay: 1s;
        opacity: 1;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
      }
    }
  }
}
