.currency-select {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;

  .selected {
    width: 100%;
    height: 100%;
    padding: 15px 5px;
    text-align: left;
    box-sizing: border-box;

    .alias {
      margin-left: 11px;
    }
  }

  .list {
    position: absolute;
    top: 43px;
    width: 120px;
    left: -5px;
    border-top: none;
    height: auto;
    max-height: 202px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .option {
      width: 100%;
      height: 100%;
      padding: 15px 5px;
      text-align: left;
      position: relative;
      background-color: white;
      box-sizing: border-box;
      transition: background-color 0.1s ease;
      -moz-transition: background-color 0.1s ease;
      -webkit-transition: background-color 0.1s ease;

      .flag-icon {
        margin-left: 6px;
      }

      .label {
        margin-left: 10px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ececec;
      }

      &:hover {
        background-color: #e6e6e6;
      }

      &.selected {

        .label {
          color: #00ad00;
        }
      }
    }

    &.active {
      display: block;
    }
  }

  .icon {
    position: absolute;
    top: 16px;
    right: 6px;
    color: #005A7C;
    font-size: 16px;
  }
}
