.video-trigger {
  z-index: 5;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;

  &:hover {
    opacity: 1;
  }
}

.overlay-video {
  z-index: 10;
}