<div class="cpa-help">
  <h1>Max. CPA</h1>
  <h2>The maximum amount you're willing to pay for one conversion while still making a profit.</h2>
  <hr/>
  <p>Max. CPA (maximum cost-per-acquisition) is a critical number in Adwords. It is the number you use to gauge
  whether your ads are profitable or not. You must figure out at what cost a conversion becomes too expensive for you, and this will be used to calculate at what point a click becomes too expensive for you.</p>
  <p>Your actual CPA should be lower than your max. CPA in order for your ads to be considered profitable.</p>
  <p>Watch this quick segment from Hal Varian on how to calculate your max. CPA.</p>
  <iframe width="770" height="433" src="https://www.youtube.com/embed/1bMV3rZth3E?rel=0&amp;showinfo=0&start=28&end=85" frameborder="0" allowfullscreen></iframe>
  <p>Don't hesitate to take the time and watch the full video if you haven't yet, it's a must watch!</p>
</div>
