<div class="cpa">
  <div class="back" (click)="onGoBack()">
    <i class="ion-icon ion-ios-arrow-thin-left"></i>
    <span>Back</span>
  </div>
  <div class="icon bar-icon">
    <span>2</span>
  </div>
  <p class="details">What's the maximum amount you’re willing to pay for one conversion?</p>
  <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div currency-select
         class="field currency-select"
         [items]="currencies"
         [selectedItem]="selected"
         (onSelect)="onSelectCurrency($event)"></div>
    <div class="field field-cpa">
      <input type="number"
             min="0"
             step="any"
             name="cpa"
             required
             [(ngModel)]="cpa"
             (focus)="cpaInputFocus($event)"
             (focusout)="cpaInputBlur($event)"/>
    </div>
    <button type="submit" class="button submit">Next</button>
    <a (click)="onHelpClicked()" class="help-text">Need help?</a>
  </form>
  <div class="copyright">
    <span>Made with <i class="ion-icon ion-heart"></i>
      by <a href="http://www.tenscores.com" target="_blank">TENSCORES</a>
    </span>
  </div>
</div>
<overlay>
  <div cpa-help></div>
</overlay>
