overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.6s ease, visibility 0.6s ease;
  -moz-transition: opacity 0.6s ease, visibility 0.6s ease;
  -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;

  .close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 52px;
    cursor: pointer;
    color: white;

    &:hover {
      text-shadow: 0px 0px 40px;
    }
  }

  p, li, h1, h2 {
    color: #fff;
  }

  a {
    color: #3498db;
  }

  .overlay-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;


    .border-container {
      width: 100%;
      height: auto;
      min-height: 100%;
      box-sizing: border-box;
      border: 2px solid transparent;
      background: #2b5876; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2b5876 , #4e4376); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #2b5876 , #4e4376); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .wrapper {
      width: 95%;
      max-width: 800px;
      height: auto;
      margin: 50px auto 0;
      position: relative;
      padding: 30px 15px 100px;
      box-sizing: border-box;
    }
  }

  &.active {
    visibility: visible;
    background-color: white;
    opacity: 1;
  }
}
