home {
  position: relative;
  z-index: 2;
}

.home {
  margin: 0 auto;
  max-width: 700px;
  width: 95%;
  @include breakpoint(320px) {
    padding-top: 30px;
  }

  .bar-icon {
    position: relative;
    top: -60px;
    background: white;
    padding: 7px 7px 7px;
    border-radius: 50px;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -webkit-transition: transform 1s ease, opacity 1s ease;
  }

  .title {
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: 100;
    opacity: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -webkit-transition: transform 1s ease, opacity 1s ease;
  }

  .details {
    color: white;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -webkit-transition: transform 1s ease, opacity 1s ease;
  }

  .button {
    opacity: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -webkit-transition: transform 1s ease, opacity 1s ease;
  }

  .copyright {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 95%;
    z-index: 1;
    opacity: 0;
    transform: translateY(100%);
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    -moz-transition: transform 0.4s ease, opacity 0.4s ease;
    -webkit-transition: transform 0.4s ease, opacity 0.4s ease;

    span {
      color: white;
      text-transform: uppercase;

      a {
        color: white;
        margin: 0;
        text-decoration: none;
        border-bottom: 2px dotted #ffffff;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &.active {

    .bar-icon,
    .title,
    .details,
    .button,
    .copyright {
      opacity: 1;
      transform: translateY(0);
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
    }

    .title {
      transition-delay: 0.3s;
      -webkit-transition-delay: 0.3s;
    }

    .details {
      transition-delay: 0.4s;
      -webkit-transition-delay: 0.4s;
    }

    .button {
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
    }

    .copyright {
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
    }
  }
}
