<div class="currency-select">
  <div class="selected">
    <i class="flag-icon flag-icon-{{selected.CountryCode}}"></i>
    <span class="alias">{{selected.CurrencyCode}}</span>
  </div>
  <div class="list">
    <div class="option {{selected.CurrencyCode == item.CurrencyCode ? 'selected' : ''}}" *ngFor="let item of list" title="{{item.CurrencyName}}" (click)="onItemClicked(item)">
      <i class="flag-icon flag-icon-{{item.CountryCode}}"></i>
      <span class="label">{{item.CurrencyCode}}</span>
    </div>
  </div>
  <i class="icon ion-icon ion-arrow-down-b"></i>
</div>