<div class="main">
  <overlay class="overlay-video"
           id="overlay-video">
    <div popup-video></div>
  </overlay>
  <div class="video-trigger hal-video"
       (click)="showVideo()"
       *ngIf="showToggle">
  </div>
  <router-outlet></router-outlet>
</div>