<div class="popup-video">
  <h1> Methodology</h1>
  <h2>How to discover the bid that yields maximum profits</h2>
  <hr/>
  <p>Hal Varian, Google's Chief Economist, explains the methodology behind bid optimization.
    This methodology is the one used by this tool.</p>
  <iframe width="770" height="433" src="https://www.youtube.com/embed/1bMV3rZth3E?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  <p>This is the process used by Calibrate, which will soon be automated for <a target="_blank" href="http://tenscores.com">Tenscores</a> customers.</p>
</div>
