bid-simulator {
  position: relative;
  z-index: 2;
}

.bid-simulator {
  margin: 0 auto;
  max-width: 800px;
  width: 95%;

  .bar-icon {
    z-index: 0;
  }

  .see-how {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100px;

    span {
      display: inline-block;
      color: white;
      margin: 0 4px;
      font-size: 16px;
      transition: color 0.1s ease;
      -moz-transition: color 0.1s ease;
      -webkit-transition: color 0.1s ease;
    }

    &:hover {
      text-shadow: 0px 0px 20px white;
    }
  }

  .field {
    margin-top: 15px;
    text-align: center;

    input {
      color: #005A7C;
    }

    textarea {
      width: 100%;
      height: 120px;
      resize: none;
      max-width: 480px;
      margin: auto;
      border: none;
      border-radius: 3px;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .button {

    &.next-step {
      text-align: center;

      span {
        font-size: 18px;
        color: #005A7C;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
      }

      &:hover {
        background: white;
      }

      &:active {
        background: #e26a61;

        span {
          color: white;
        }
      }
    }
  }

  .bottom-note {
    text-align: center;
    font-size: 12px;
    position: relative;
    top: 100px;
    color: white;
  }

  .card {
    width: 120px;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;

    span {
      opacity: 0;
      transition: opacity 0.4s ease;
      -moz-transition: opacity 0.4s ease;
      -webkit-transition: opacity 0.4s ease;
    }
  }

  .float-info {
    transform: translateX(150%);
    -moz-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .button-icons {
    text-align: center;
    margin-top: 20px;

    .button-icon {
      display: inline-block;
      margin: 0 50px;
      width: 115px;
      height: 115px;
      background: pink;
      border-radius: 100px;
      text-align: center;
      position: relative;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      opacity: 0;
      transition: color 0.1s ease, opacity 0.4s ease;
      -moz-transition: color 0.1s ease, opacity 0.4s ease;
      -webkit-transition: color 0.1s ease, opacity 0.4s ease;
      @include breakpoint(520px) {
        margin: 0 20px;
      }

      .ion-icon {
        color: white;
        font-size: 70px;
        z-index: 1;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        opacity: 0;
        transition: color 0.1s ease, opacity 0.4s ease;
        -moz-transition: color 0.1s ease, opacity 0.4s ease;
        -webkit-transition: color 0.1s ease, opacity 0.4s ease;
      }

      .circle {
        width: 0;
        height: 0;
        border-radius: 50%;
        z-index: 0;
        top: 50%;
        left: 50%;
        position: absolute;
        transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
      }

      .label {
        color: white;
        font-size: 20px;
        opacity: 0;
        position: relative;
        top: 140px;
        transform: translateY(50%);
        -moz-transform: translateY(50%);
        -webkit-transform: translateY(50%);
      }

      &.yes {
        background: url('../img/bid-simulator-yes.png') no-repeat center center;
        border: 8px solid #1abc9c;

        .circle {
          background-color: #77bb3f;
        }
      }

      &.no {
        background: url('../img/bid-simulator-no.png') no-repeat center center;
        border: 3px solid #DD6C64;

        .circle {
          background-color: #e26a61;
        }
      }

      &:hover {
        box-shadow: 0px 0px 100px white;

        &.yes {

          .circle {
            background-color: #a2d27a;
            top: 9px;
            left: 9px;
            width: 80%;
            height: 70px;
          }
        }

        &.no {

          .circle {
            background-color: #ec8b83;
            top: 9px;
            left: 9px;
            width: 80%;
            height: 70px;
          }
        }
      }

      &:active {

        &.yes,
        &.no {

          .circle {
            background-color: #ebebeb;
          }

          .ion-icon {
            color: #e0645f;
          }
        }
      }
    }
  }

  &.active {

    .bar-icon {

      span {
        transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        opacity: 1;
      }

      &:after {
        width: 48px;
        height: 48px;
        right: 0;
        top: 0;
        visibility: visible;
      }
    }

    .title,
    .details,
    .button,
    .copyright {
      opacity: 1;
      transform: translateY(0);
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
    }

    .title {
      transition-delay: 0.3s;
      -webkit-transition-delay: 0.3s;
    }

    .details {
      margin-bottom: 20px;
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
    }

    .card {
      background: rgba(0, 0, 0, 0.1);
      transition-delay: 0.7s;
      -webkit-transition-delay: 0.7s;

      span {
        transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        opacity: 1;
      }
    }

    .button-icons {

      .button-icon {

        transition-delay: 1s;
        -webkit-transition-delay: 1s;
        opacity: 1;

        .circle {
          top: 0;
          left: 0;
          width: 100%;
          height: 90px;
        }

        .ion-icon {
          transition-delay: 0.6s;
          -webkit-transition-delay: 0.6s;
          opacity: 1;
        }

        .label {
          transition-delay: 0.6s;
          -webkit-transition-delay: 0.6s;
          opacity: 1;
          transform: translateY(0);
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
        }
      }
    }

    .float-info {
      transition-delay: 0.6s;
      -webkit-transition-delay: 0.6s;
      transform: translateX(0);
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
    }

    .copyright {
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
    }
  }
}
