<div class="bid-simulator-help-2">
  <h1>Copy &amp; Paste</h1>
  <h2>How to copy and paste bid simulator data into Calibrate.</h2>
  <hr/>
  <p>Watch the animation below:</p>
  <img class="gif-animation" src="assets/img/bid-simulator-gimp2.gif" />
  <h3>These are the steps:</h3>
    <ol>
      <li>With one stroke of your mouse, select all the columns and rows in the Bid Simulator.</li>
      <li>Copy them.</li>
      <li>Paste them into the Calibrate form field reserved for that purpose.</li>
      <li>Click next to see your final result.</li>
    </ol>
  <p>If you encounter any problems, please send us an email: support@tenscores.com</p>
</div>
