<div class="bid-simulator-help-1">
  <h1>Bid Simulator</h1>
  <h2>Feature in Adwords that provides preformance predictions for different bids.</h2>
  <hr/>
  <p>The bid simulator in Adwords only appears when there's sufficent
  amount of data for a particular keyword or ad group. When the tool is available,
  a small icon will be clickable besides your bids. When it's not available, that icon will be greyed out and unclickable.</p>
  <div id="bid-simulator-active"></div>
  <p>When the bid simulator is active, here's what you'll see when you click the icon:</p>
  <div id="bid-simulator-window"></div>
  <p>If there are no columns for clicks and costs, then the data won't be useful for our purpose. Select "No" on this page.
    If those columns are available, then click "Yes" and follow instructions on the next step on how to copy and paste the data to get your final result.
  </p>

</div>
