<div class="bid-simulator">
  <div class="back" (click)="onStartAgain()">
    <i class="ion-icon ion-ios-arrow-thin-left"></i>
    <span>Back</span>
  </div>
  <div class="icon bar-icon">
    <span>3</span>
  </div>
  <div class="step" *ngIf="!nextStep">
    <p class="details">Does the bid simulator in Adwords
  show estimates for <strong>clicks</strong> and <strong>costs</strong> for this keyword or ad group?</p>
    <div class="card note">
      <span><a (click)="onHowToCheck()">How to check</a></span>
    </div>
    <div class="button-icons">
      <div class="button-icon yes" (click)="onYes()">
        <span class="label">Yes</span>
      </div>
      <div class="button-icon no" (click)="onNo()">
        <span class="label">No</span>
      </div>
    </div>
    <div class="bottom-note">If this is a new keyword, select "No". If unsure select "No".</div>
  </div>
  <div class="step" *ngIf="nextStep">
    <p class="details">With your mouse, copy and paste the suggested max. CPCs with their
corresponding clicks and costs below:</p>
    <div class="see-how card" (click)="seeHowClicked()">
      <span>See how!</span>
    </div>
    <div class="field">
      <textarea name="raw" [(ngModel)]="rawData"></textarea>
    </div>
    <div class="button next-step" (click)="onNextClicked()">
      <span>Next</span>
    </div>
  </div>
  <div float-info
       class="float-info-container"
       [conversionRate]="conversionRate"
       [currency]="currency"
       [maxCPA]="maxCPA"
       (onConversionRateUpdate)="updateConversionRate($event)"
       (onMaxCPAUpdate)="updateMaxCPA($event)">
  </div>
  <div class="copyright">
    <span>Made with <i class="ion-icon ion-heart"></i>
      by <a href="http://www.tenscores.com" target="_blank">TENSCORES</a>
    </span>
  </div>
</div>
<overlay>
  <div bid-simulator-help-1
       *ngIf="!nextStep">
  </div>
  <div bid-simulator-help-2
       *ngIf="nextStep">
  </div>
</overlay>
